{% extends 'base.html' %}
{% block title %}
Update Page
{% endblock title %}
{% block body %}

<div class="container bg">
    <h4>Update Contact </h4>
    <form action="/do_update/" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Name of the Person</label>
            <input type="text" class="form-control" name="name" id="name" value={{name}}>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number of the Person</label>
            <input type="text" class="form-control" name="phone" id="phone" value={{phno}}>
        </div>
        <div class="mb-3">
            <input type="hidden" class="form-control" name="sr_no" id="sr_no" value={{srno}}>
        </div>
        <button type="submit" class="btn btn-dark">Update</button>
    </form>
</div>

{% endblock body %}